<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>David Lane's Website</title>
    <style>
      .wf-loading {
        display: none !important;
      }
    </style>
  </head>
  <body>
    <h1>David Lane</h1>
    <p>Developer; I use things to make stuff.</p>
  </body>
</html>
