<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <header>
      <h1>David Lane</h1>
      <div>I use things to make stuff</div>
    </header>
  </body>
</html>
